<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Code %>
    <%= form.text_field :Code, id: :student_Code %>
  </div>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :student_Name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :student_user_id %>
  </div>

  <div class="field">
    <%= form.label :City %>
    <%= form.text_field :City, id: :student_City %>
  </div>

  <div class="field">
    <%= form.label :Cellphone %>
    <%= form.text_field :Cellphone, id: :student_Cellphone %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address, id: :student_Address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
